{%extends "layout.html"%}
{%block main%}
<style>
    body{
        box-sizing: border-box;
        background-image: url(/static/img/PortadaVintage2.jpg);
        background-size: cover;
        padding: 0;
        margin: 0;
        position: relative; 
      }
</style>
  <div class="container">
      <form action="/search" method="post">
          <div class="searchcontainer">
              <h2>Book search</h2>
              <input type="search" name="Search" id="TextboxSearch" placeholder='Write the name...'>
              <div class="elegir">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="option" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Title</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="option" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">Isbn</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="option" id="inlineRadio3" value="option3">
                      <label class="form-check-label" for="inlineRadio3">Year</label>
                    </div>
              </div>
              <div class="btnsearch">
                  <button type="submit" class="btn btn-light">Search</button>
              </div>
          </div>
      </form>
  </div>

{%endblock%}