{%extends "layout.html"%}
{%block main%}
   <style>
    body{
      box-sizing: border-box;
      background-image: url(/static/img/Portada3.webp);
      background-size: cover;
      padding: 0;
      margin: 0;
      position: relative; 
    }
   </style>
    <div class="formlogin">
        <form action="/login" method='post'>
          <label class="log">Login</label>
          <div class="col">
              <input type="text" class="form-control" placeholder="Username" id='texbox' name="Username" required>
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Password" id='texbox' name="Password" required>
            </div>
            <div class="btn">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="loginfoter">
              <a>Don't have an account? create one from here</a>
              <a href="/register">Register</a>    
            </div>
        </form>      
    </div>

{%endblock%}